<div class="mat-card-container">
	<mat-card *ngFor="let entry of allImageEntries;"
		class="mat-card">
		<mat-card-header class="custom-card-header">
			<mat-card-title class="custom-card-title">
				{{entry.imageTitle}}
			</mat-card-title>
		</mat-card-header>
		<a href="http://localhost:3000/open/original-images/{{ entry.imageFileName }}">
			<img src="http://localhost:3000/open/resized-images/{{entry.imageFileName}}"
				class="mat-card-image">
		</a>
		<mat-card-content class="mat-card-content">
			{{entry.imageComment}}
		</mat-card-content>
	</mat-card>
</div>
